body {
  padding: 15px;
  padding-top: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #101010;
}
div.content {
  padding: 0px 20px;
}

div.content h1 {
  font-size: 220%;
  color: #999999
}
div.content h3 {
  font-size: 160%;
  color: #888888
}
div.content p {
  padding-left: 20px;
  color: #888888
}

a {
  color: #00B7FF;
}
li {
  list-style-type: circle;
  color: #888888
}
div.footer {
  margin: auto;
  margin-top: 30px;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: #333333;
  font-size: 90%;
  border-top: 1px dotted #333333;
  border-bottom: 1px dotted #333333;

}
div.footer a {
  margin-left: 10px;
  margin-right: 10px;
}

div.nav {
  margin: auto;
  width: 100%;
  padding: 5px;
  text-align: right;
  color: #333333;
  font-size: 90%;
}
div.nav a {
  margin-left: 10px;
  margin-right: 10px;
}
div.content li {
  line-height: 140%;
 }

div.content li a {
 line-height: 180%;
}

div.content div.edit {
  padding-left: 15px;
  margin-top: 30px;
  margin-bottom:30px;
  color: rgb(230, 229, 229)
 }

 div.content div.edit a {
  margin-left: 10px;
  margin-right: 10px;
 }
 div.home-date {
   text-align:default;
 }
 div.home-date p {
   font-size: 90%;
   color: #976907;
   padding-left: 0px;
 }
div.home-stats {
  color: #666666;
}
div.home-stats strong {
  color: #999999;
}
div.home-stats li {
  padding-left: 0px;
}
div.home-stats li {
  list-style-type: none;
  line-height: 180%;
}

input.form-control,
select.form-control {
  background-color: #111111;
  border-color: #222222;
  color: #999999;
}

div.form-group label {
  color: #777777;
}